In [1]:
import pandas as pd

In [2]:
import sqlite3 as sql

In [3]:
pd.options.display.max_rows = 1000
pd.options.display.width = 0
df  = pd.read_excel("remit/data/fy2021cobbook9.xls", engine="xlrd",header=0,nrows=73)

In [4]:
df.iloc[2,0].replace("Region/Country: ","")

'Oceania'

In [5]:
df["Region/Country"] = df.iloc[2,0].replace("Region/Country: ","")

In [6]:
df.head()

,Persons Obtaining Lawful Permanent Resident Status During Fiscal Year 2021,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Region/Country
0,by Region/Country of Birth and Selected Charac...,NaN,NaN,NaN,NaN,Oceania
1,NaN,NaN,NaN,NaN,NaN,Oceania
2,Region/Country: Oceania,NaN,NaN,NaN,NaN,Oceania
3,NaN,NaN,NaN,NaN,NaN,Oceania
4,Characteristic,Total,Female,Male,Unknown,Oceania

In [7]:
df.columns = df.iloc[4]

In [8]:
df.head()

4,Characteristic,Total,Female,Male,Unknown,Oceania
0,by Region/Country of Birth and Selected Charac...,NaN,NaN,NaN,NaN,Oceania
1,NaN,NaN,NaN,NaN,NaN,Oceania
2,Region/Country: Oceania,NaN,NaN,NaN,NaN,Oceania
3,NaN,NaN,NaN,NaN,NaN,Oceania
4,Characteristic,Total,Female,Male,Unknown,Oceania

In [9]:
df = df.rename(columns={df.iloc[1][-1]:"Region/Country"})

In [10]:
df = df.iloc[7:]

In [12]:
df = df.drop(columns="Total")

In [14]:
df.melt(id_vars=["Characteristic"])

,Characteristic,4,value
0,New arrivals,Female,468
1,Adjustments of status,Female,1433
2,NaN,Female,NaN
3,Age,Female,NaN
4,Under 18 years,Female,297
5,18 to 24 years,Female,170
6,25 to 34 years,Female,649
7,35 to 44 years,Female,429
8,45 to 54 years,Female,223
9,55 to 64 years,Female,91
10,65 years and over,Female,42
11,Unknown,Female,-
12,NaN,Female,NaN
13,Marital status,Female,NaN
14,Married,Female,1303
15,Single,Female,523
16,Other,Female,61
17,Unknown,Female,14
18,NaN,Female,NaN
19,Occupation,Female,NaN
20,"Management, professional, and related occupations",Female,437
21,Service occupations,Female,70
22,Sales and office occupations,Female,147
23,"Farming, fishing, and forestry occupations",Female,-
24,"Construction, extraction, maintenance and repa...",Female,D
25,"Production, transportation, and material movin...",Female,28
26,Military,Female,D
27,No occupation/not working outside home,Female,479
28,Homemakers,Female,D
29,Students or children,Female,318
30,Retirees,Female,D
31,Unemployed,Female,92
32,Unknown,Female,736
33,NaN,Female,NaN
34,Broad class of admission,Female,NaN
35,Immediate relatives of U.S. citizens,Female,1080
36,Family-sponsored preferences,Female,D
37,Employment-based preferences,Female,532
38,Diversity,Female,208
39,Refugees and asylees,Female,D
40,Other,Female,4
41,NaN,Female,NaN
42,Leading states/territories of residence,Female,NaN
43,Arizona,Female,41
44,California,Female,573
45,Colorado,Female,53
46,Florida,Female,73
47,Georgia,Female,39
48,Hawaii,Female,46
49,Illinois,Female,48
50,Massachusetts,Female,36
51,Michigan,Female,38
52,Nevada,Female,27
53,New Jersey,Female,46
54,New York,Female,181
55,North Carolina,Female,35
56,Oregon,Female,46
57,Pennsylvania,Female,29
58,Tennessee,Female,17
59,Texas,Female,112
60,Utah,Female,50
61,Virginia,Female,33
62,Washington,Female,126
63,Other,Female,250
64,Unknown,Female,2
65,D Data withheld to limit disclosure.,Female,NaN
66,New arrivals,Male,531
67,Adjustments of status,Male,1714
68,NaN,Male,NaN
69,Age,Male,NaN
70,Under 18 years,Male,300
71,18 to 24 years,Male,158
72,25 to 34 years,Male,773
73,35 to 44 years,Male,578
74,45 to 54 years,Male,274
75,55 to 64 years,Male,115
76,65 years and over,Male,47
77,Unknown,Male,-
78,NaN,Male,NaN
79,Marital status,Male,NaN
80,Married,Male,1624
81,Single,Male,575
82,Other,Male,30
83,Unknown,Male,16
84,NaN,Male,NaN
85,Occupation,Male,NaN
86,"Management, professional, and related occupations",Male,644
87,Service occupations,Male,66
88,Sales and office occupations,Male,133
89,"Farming, fishing, and forestry occupations",Male,15
90,"Construction, extraction, maintenance and repa...",Male,D
91,"Production, transportation, and material movin...",Male,73
92,Military,Male,D
93,No occupation/not working outside home,Male,411
94,Homemakers,Male,D
95,Students or children,Male,307
96,Retirees,Male,D
97,Unemployed,Male,92
98,Unknown,Male,867
99,NaN,Male,NaN
100,Broad class of admission,Male,NaN
101,Immediate relatives of U.S. citizens,Male,1314
102,Family-sponsored preferences,Male,D
103,Employment-based preferences,Male,650
104,Diversity,Male,218
105,Refugees and asylees,Male,D
106,Other,Male,-
107,NaN,Male,NaN
108,Leading states/territories of residence,Male,NaN
109,Arizona,Male,57
110,California,Male,610
111,Colorado,Male,71
112,Florida,Male,86
113,Georgia,Male,37
114,Hawaii,Male,48
115,Illinois,Male,80
116,Massachusetts,Male,54
117,Michigan,Male,39
118,Nevada,Male,25
119,New Jersey,Male,59
120,New York,Male,250
121,North Carolina,Male,34
122,Oregon,Male,59
123,Pennsylvania,Male,36
124,Tennessee,Male,28
125,Texas,Male,147
126,Utah,Male,74
127,Virginia,Male,50
128,Washington,Male,129
129,Other,Male,270
130,Unknown,Male,2
131,D Data withheld to limit disclosure.,Male,NaN
132,New arrivals,Unknown,-
133,Adjustments of status,Unknown,1
134,NaN,Unknown,NaN
135,Age,Unknown,NaN
136,Under 18 years,Unknown,-
137,18 to 24 years,Unknown,1
138,25 to 34 years,Unknown,-
139,35 to 44 years,Unknown,-
140,45 to 54 years,Unknown,-
141,55 to 64 years,Unknown,-
142,65 years and over,Unknown,-
143,Unknown,Unknown,-
144,NaN,Unknown,NaN
145,Marital status,Unknown,NaN
146,Married,Unknown,1
147,Single,Unknown,-
148,Other,Unknown,-
149,Unknown,Unknown,-
150,NaN,Unknown,NaN
151,Occupation,Unknown,NaN
152,"Management, professional, and related occupations",Unknown,-
153,Service occupations,Unknown,1
154,Sales and office occupations,Unknown,-
155,"Farming, fishing, and forestry occupations",Unknown,-
156,"Construction, extraction, maintenance and repa...",Unknown,-
157,"Production, transportation, and material movin...",Unknown,-
158,Military,Unknown,-
159,No occupation/not working outside home,Unknown,-
160,Homemakers,Unknown,-
161,Students or children,Unknown,-
162,Retirees,Unknown,-
163,Unemployed,Unknown,-
164,Unknown,Unknown,-
165,NaN,Unknown,NaN
166,Broad class of admission,Unknown,NaN
167,Immediate relatives of U.S. citizens,Unknown,1
168,Family-sponsored preferences,Unknown,-
169,Employment-based preferences,Unknown,-
170,Diversity,Unknown,-
171,Refugees and asylees,Unknown,-
172,Other,Unknown,-
173,NaN,Unknown,NaN
174,Leading states/territories of residence,Unknown,NaN
175,Arizona,Unknown,-
176,California,Unknown,-
177,Colorado,Unknown,-
178,Florida,Unknown,-
179,Georgia,Unknown,-
180,Hawaii,Unknown,-
181,Illinois,Unknown,-
182,Massachusetts,Unknown,-
183,Michigan,Unknown,-
184,Nevada,Unknown,-
185,New Jersey,Unknown,-
186,New York,Unknown,-
187,North Carolina,Unknown,-
188,Oregon,Unknown,-
189,Pennsylvania,Unknown,-
190,Tennessee,Unknown,-
191,Texas,Unknown,-
192,Utah,Unknown,-
193,Virginia,Unknown,-
194,Washington,Unknown,-
195,Other,Unknown,1
196,Unknown,Unknown,-
197,D Data withheld to limit disclosure.,Unknown,NaN
198,New arrivals,Region/Country,Oceania
199,Adjustments of status,Region/Country,Oceania
200,NaN,Region/Country,Oceania
201,Age,Region/Country,Oceania
202,Under 18 years,Region/Country,Oceania
203,18 to 24 years,Region/Country,Oceania
204,25 to 34 years,Region/Country,Oceania
205,35 to 44 years,Region/Country,Oceania
206,45 to 54 years,Region/Country,Oceania
207,55 to 64 years,Region/Country,Oceania
208,65 years and over,Region/Country,Oceania
209,Unknown,Region/Country,Oceania
210,NaN,Region/Country,Oceania
211,Marital status,Region/Country,Oceania
212,Married,Region/Country,Oceania
213,Single,Region/Country,Oceania
214,Other,Region/Country,Oceania
215,Unknown,Region/Country,Oceania
216,NaN,Region/Country,Oceania
217,Occupation,Region/Country,Oceania
218,"Management, professional, and related occupations",Region/Country,Oceania
219,Service occupations,Region/Country,Oceania
220,Sales and office occupations,Region/Country,Oceania
221,"Farming, fishing, and forestry occupations",Region/Country,Oceania
222,"Construction, extraction, maintenance and repa...",Region/Country,Oceania
223,"Production, transportation, and material movin...",Region/Country,Oceania
224,Military,Region/Country,Oceania
225,No occupation/not working outside home,Region/Country,Oceania
226,Homemakers,Region/Country,Oceania
227,Students or children,Region/Country,Oceania
228,Retirees,Region/Country,Oceania
229,Unemployed,Region/Country,Oceania
230,Unknown,Region/Country,Oceania
231,NaN,Region/Country,Oceania
232,Broad class of admission,Region/Country,Oceania
233,Immediate relatives of U.S. citizens,Region/Country,Oceania
234,Family-sponsored preferences,Region/Country,Oceania
235,Employment-based preferences,Region/Country,Oceania
236,Diversity,Region/Country,Oceania
237,Refugees and asylees,Region/Country,Oceania
238,Other,Region/Country,Oceania
239,NaN,Region/Country,Oceania
240,Leading states/territories of residence,Region/Country,Oceania
241,Arizona,Region/Country,Oceania
242,California,Region/Country,Oceania
243,Colorado,Region/Country,Oceania
244,Florida,Region/Country,Oceania
245,Georgia,Region/Country,Oceania
246,Hawaii,Region/Country,Oceania
247,Illinois,Region/Country,Oceania
248,Massachusetts,Region/Country,Oceania
249,Michigan,Region/Country,Oceania
250,Nevada,Region/Country,Oceania
251,New Jersey,Region/Country,Oceania
252,New York,Region/Country,Oceania
253,North Carolina,Region/Country,Oceania
254,Oregon,Region/Country,Oceania
255,Pennsylvania,Region/Country,Oceania
256,Tennessee,Region/Country,Oceania
257,Texas,Region/Country,Oceania
258,Utah,Region/Country,Oceania
259,Virginia,Region/Country,Oceania
260,Washington,Region/Country,Oceania
261,Other,Region/Country,Oceania
262,Unknown,Region/Country,Oceania
263,D Data withheld to limit disclosure.,Region/Country,Oceania